@{
    ViewData["Title"] = "About";
}
<h3>@ViewData["Title"]</h3>
@*<h3>@ViewData["Message"]</h3>*@

<div class="row">

    <div class="col-md-3">
        <h3> This Pizza Store was just created by me!</h3>
    </div>

    @*<form asp-controller="Home" method="post">
            <button type="submit">Make a New Order</button>
        </form>*@
</div>

@*<div>
    @ViewBag.Message
    @ViewData["Message"]
    @TempData["Message"]
</div>*@
