@{
    ViewData["Title"] = "Landing Page";
}
@model WeatherApp.MVC.Models.LandingViewModel


<div>
    <h3> @ViewData["Title"] </h3>
    <h4> User Information: </h4>

    <div>
        <h5>FirstName: @Model.User.FirstName</h5>
        <h5>LastName: @Model.User.LastName</h5>
        <h5>Email: @Model.User.Email</h5>
        <h5>UserName: @Model.User.Username</h5>
        <h5>Password: @Model.User.Password</h5>
    </div>

</div>
