@{
    ViewData["Title"] = "Add a Pizza Page";
}


@model PizzaStore.MVC.Models.PizzaViewModel

<header class="col-md-12">
    <h3>Add a Pizza to Your Order</h3>
    <p>@ViewBag.PizzaProblem</p>
</header>
<div class="col-md-12">
    <form asp-controller="Pizza" method="post">
        <h4>Crust</h4>
        <div class="form-group">
            @foreach (KeyValuePair<int, string> crust in Model.Crusts)
            {
                <div>
                    <label>@crust.Value</label>
                    <input asp-for="CrustID" type="radio" id="" value=@crust.Key />
                </div>
            }
        </div>
        <h4>Sauce</h4>
        <div class="form-group">
            @foreach (KeyValuePair<int, string> sauce in Model.Sauces)
            {
                <div>
                    <label>@sauce.Value</label>
                    <input asp-for="SauceID" type="radio" id="" value=@sauce.Key />
                </div>
            }
        </div>
        <h4>Cheeses (at most 2)</h4>
        <div class="form-group">
            <div class="container">
                @foreach (var item in Model.AvailableCheeses)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedCheeses"
                                   value="@item.Value" /> @item.Text
                            </label>
                        </div>
                }
            </div>
        </div>
        <h4>Toppings (at most 3)</h4>
        <div class="form-group">
            <div class="container">
                @foreach (var item in Model.AvailableToppings)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedToppings"
                                   value="@item.Value" /> @item.Text
                        </label>
                    </div>
                }
            </div>
        </div>
        <h4>How many of this pizza do you want?</h4>
        <div class="form-group">
            <div class="container">
                <label>Quantity of this Pizza: </label>
                <input asp-for="PizzaQuantity" value="1" />
            </div>
        </div>
        <button type="submit">Add Pizza(s) to Order</button>
    </form>
</div>
